$colorBlueAccent: #445AF5;
$colorBlueLight: #9999FF;
$colorMustardLight: #FFE67C;
$colorMustardAccent: #B08813;

$headerHeight: 100px;

$defaultWidth: 60%;
$largeWidth: 70%;
$mediumWidth: 85%;
$smallWidth: 100%;
$maxWidth: 1100px;

$projectPreviewDefaultColumns: 3;
$projectPreviewMediumColumns: 2;
$projectPreviewDefaultColumnsGap: 3%;